{% extends 'adminbase.html.twig' %}

{% block title %}Hello AddSousCategorieController!{% endblock %}

{% block body %}
    <section class="container">
        <h2 class="title">Ajouter un Catalogue d'articles</h2>
        {{ form(form) }}
    </section>
{% endblock %}
