{% extends 'adminBase.html.twig' %}
{% block body %}
    <section class="container">
        <h2 class="card-title text-center"> ajouter admin </h2>
        {{ form(form) }}

    </section>
{% endblock %}