<center>
    <div class="btn-group-xs" id="group_buttons">
        <a href="{{ path('add_article',{'id':article.id}) }}" style="margin-left: 3px;"
           class="btn btn-primary waves-effect"
           data-toggle="tooltip" title="" data-original-title="Edit"><i class="fa fa-edit white"></i>
        </a>
        <a href="{{ path('admin_delete_article',{'id':article.id}) }}" style="margin-left: 3px;"
           class="btn bg-danger waves-effect"
           data-toggle="tooltip" title="" data-original-title="Edit"><i
                    class="fa fa-trash white"></i>
        </a>
    </div>
</center>