{% extends 'adminBase.html.twig' %}

{% block title %}Hello AddArticleController!{% endblock %}

{% block body %}
    <section class="container">
<h2 class="title">Ajouter article</h2>
    {{ form(form) }}
    </section>

{% endblock %}
