
<h1>Demande Devis</h1>
<p>Email : {{ contact.email }}</p>
<p>Message : {{ contact.Telephone }}</p>
<p>nom de l'article : {{ article.nom }}</p>
<p>sous categorie de l'article: {{ article.sousCategorie }}</p>