{% extends 'base.html.twig' %}
{% block nav %}
    {% for categorie in categories %}
        <li id="nav-item" class="nav-item">
            <a class="nav-link active" href="{{ path('second_page', {'id': categorie.id} ) }}"
            >{{ categorie.nom}} <span class="sr-only">(current)</span></a
            >
        </li>
    {% endfor %}
{% endblock %}
{% block body %}
<main>
    <div class="container">
        <div class="row">
            <div class="box-c1">
            <h1>Nous contacter!</h1>
            {{ form(contactform) }}
            </div>
        </div>
    </div>
</main>

{% endblock %}
