{% extends 'adminbase.html.twig' %}

{% block title %}Zitouna Concept{% endblock %}

{% block body %}
    <section class="container">
        <h2 class="card-title"> ajouter un service</h2>
        {{ form(form) }}

    </section>
{% endblock %}
