{% extends 'adminbase.html.twig' %}

{% block title %}Hello AddCategorieController!{% endblock %}

{% block body %}
    <section class="container">
        <h2 class="card-title"> ajouter une categorie</h2>
        {{ form(form) }}

    </section>
{% endblock %}
